* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}

h2 {
  color: darkblue;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  font-size: 36px;
}

p {
  margin: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  color: darkblue;
  font-size: 14px;
}

nav {
  text-align: center;
  background-color: lightblue;
  padding: 20px 0;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: underline;
  color: darkblue;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
  padding: 10px 20px;
  border-radius: 4px;
}

nav a:hover {
  text-decoration: underline;
  color: blue;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
}
img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.25);
}

.desc {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}

.desc:hover {
  background-color: lightblue;
  color: darkblue;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin: 6px 0;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.image-container {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}
.image-container p a {
  color: darkblue;
  text-decoration: underline;
}
